/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* variables */



 /*
 *  CSS Reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #fff;
	overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start my CSS */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('https://s3-us-west-1.amazonaws.com/asco-jkh/fonts/helvetica/helvetica-neue/HelveticaNeue.otf');
}

@font-face {
  font-family: 'Marmalade';
  src: url('https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/the_marmalade_bold-2-webfont.woff2');
}

@font-face {
  font-family: 'mc-thin';
  src: url('https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/rb2.woff');
}

@font-face {
  font-family: 'mc-thick';
  src: url('https://s3-us-west-1.amazonaws.com/yasmirtudoachimandirochichi/fonts/rb2thick.woff');
}

body {
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
	cursor: pointer;
}

.welcome {
  height: 500px;
  width: 670px;
  display: block;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
	margin: auto;

  h1 {
    margin: 20px auto 10px auto;
    text-align: center;
    font-family: 'mc-thick';
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
    display: block;
  }

	a {
		color: #fff;
		text-decoration: none;
		font-weight: normal;
	}

  p {
    text-align: center;
    margin: auto;
    color: #ababae;
    letter-spacing: .75em;
  }

  .let-signin {
    width: 320px;
    display: inline-block;
  	text-align: center;
		border: 1px solid #ababae;
		color: #ababae;
		padding: 10px 5px;
		font-size: .8rem;
		text-transform: uppercase;
		cursor: pointer;
	}

  .let-signup {
    width: 320px;
    display: inline-block;
		text-align: center;
		border: 1px solid #ababae;
  	color: #ababae;
		padding: 10px 5px;
		font-size: .8rem;
		text-transform: uppercase;
		cursor: pointer;
	}
}


.signin-bg {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
	background-color: #636363;
 }

.black-overlay {
	background-color: #000;
	position: absolute;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
	opacity: 0.5;
}

.signin-form {
  width: 300px;
  margin: auto;
}

.ffield {
  background-color: transparent;
  padding: 10px 10px;
  width: 276px;
  margin: 5px 0;
  color: #fff;
  border: 1px solid #fff;
}

.btn.enter {
  width: 300px;
  padding: 12px 10px;
  margin: 5px 0;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border: none;
	cursor: pointer;
}

.btn.guest-login {
	width: 300px;
	margin: 5px 0;
	background: none;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #fff;
	height: 39px;
}

.entry-area {
  height: 500px;
  width: 300px;
  display: block;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
	margin: auto;

	.errors {
	  font-size: .8rem;
	  color: #ababae;
	  font-weight: normal;
	  width: 300px;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  padding: 5px 0;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.form-title {
	font-family: 'mc-thick';
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;

	h4 {
		font-size: 2em;
		letter-spacing: .68em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	h3 {
		font-size: 4em;
		letter-spacing: 0.049em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.form-title.new {
	cursor: auto;
}

.sorts {
	position: absolute;
	color: #999;
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	top: calc(19vh - 10px);
	left: 7.5%;
	display: inline-block;
	div {
		display: inline-block;
		margin-left: 20px;
		div {
			position: relative;
			display: inline-block;
			padding: 0 15px;
			cursor: pointer;
			transition: color .3s ease;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&:hover {
				color: #fff;
			}
		}
	}
}


/*****************************************************
 * generic styling for ALS elements: outer container
 ******************************************************/

.als-container {
	position: relative;
	z-index: 0;

	/* my stuff */
	width: 90%;
}

/****************************************
 * viewport styling
 ***************************************/

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;

	/* my stuff */
	width: 90%;
}

/***************************************************
 * wrapper styling
 **************************************************/

.als-wrapper {
	position: relative;
	/* if you are using a list with <ul> <li> */
	list-style: none;

	/* my stuff */
}

/*************************************
 * item: single list element
 ************************************/

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;

	/* my stuff */

	div {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		margin: 0 auto;
		vertical-align: middle;
		height: 100px;
		-webkit-filter: brightness(0.7);
		transition: -webkit-filter .3s ease;
		&:hover {
			-webkit-filter:brightness(1.0);
		}
	}

}

/***********************************************
 * prev, next: buttons styling
 **********************************************/

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}

.als-prev {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#packs-index {
	margin: 20vh auto 1vh auto;
}

#packs-index .als-item {
	margin: 0px 3px;
	padding: 2px 0px;
	min-height: 100px;
	min-width: 175px;
	text-align: center;
	display: block;
	vertical-align: middle;
}

#packs-index .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	width: 200px;
}

#packs-index .als-prev, #packs-index .als-next {
	top: 40px;
}

#packs-index .als-prev {
	left: 30px;
}

#packs-index .als-next {
	right: 30px;
}

.pack-list-enter {
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

.pack-list-enter.pack-list-enter-active {
	opacity: 1;
}

.thumbnails-trans-enter {
	opacity: 0.01;
	transition: opacity .5s ease-in;
}

.thumbnails-trans-enter.thumbnails-trans-enter-active {
	opacity: 1;
}



.packsindex-background {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	background-repeat: repeat;
	display: block;
	-webkit-filter: brightness(0.4);
	z-index: -1000;
	background-color: #636363;
}

.arrow {
	-webkit-filter: invert(0.6);
	transition: -webkit-filter .3s ease;
	&:hover {
		-webkit-filter: invert(1.0);
	}
	img {
		width: 24px;
	}
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
}

.arrow-up {
	width: 0; height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

/* PACK SHOW */

.packshow-container {
	width: 85%;
	padding: 1vh 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-style: dashed;
	margin: 0 auto;
}

.pack-show {
	width: 100%;
	position: relative;
	height: 35vh;
		.big-image {
		width: 49.5%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		position: absolute;
		-webkit-filter: brightness(0.7);
		transition: -webkit-filter .35s ease;
		&:hover {
			-webkit-filter: brightness(1.0);
		}
	}
	.right {
		width: 49.5%;
		height: 100%;
		margin-left: 51%;
		display: inline-block;
		position: absolute;
		.title {
			font-size: 24px;
			letter-spacing: .3em;
			text-transform: uppercase;
			width: 100%;
			font-style: italic;
		}
		.description {
			font-size: 10px;
			letter-spacing: .05em;
			width: 100%;
			position: relative;
			margin: 10px 0;
		}
		.tags {
			display: inline-block;
			font-size: 10px;
			letter-spacing: .05em;
			width: 100%;
			position: relative;
			margin-left: -3px;
			ul {
				display: inline-block;
				li {
					cursor: pointer;
					display: inline-block;
					padding: 0 3px;
					color: #fff;
					opacity: 0.7;
					transition: opacity .35s ease;
					&:hover {
						opacity: 1.0;
					}

				}
			}
		}
		.buttons {
			width: 100%;
			bottom: 143px;
			margin: 7px 0;
			.url {
				display: inline-block;
				a {
					font-size: 10px;
					width: 74px;
					border: 1px solid #fff;
					padding: 3px 7px;
					color: #fff;
					text-decoration: none;
					text-transform: uppercase;
					opacity: 0.7;
					transition: opacity .35s ease;
					&:hover {
						opacity: 1.0
					}
				}
			}
			.subpacks {
				float: right;
				display: inline-block;
				li {
					display: inline-block;
					margin: 0 7px;
					padding: 3px 7px;
					font-size: 10px;
					text-transform: uppercase;
					cursor: pointer;
					font-style: italic;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transition: all .2s ease;
					&:hover {
						font-size: 11px;
					}
				}
			}
		}
		.thumbnails {
			display: block;
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 80px;
			overflow: hidden;
			left: -5px;
			div {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				display: inline-block;
				width: 150px;
				margin: 0px 5px;
				padding: 4px 0px;
				vertical-align: middle;
				height: 80px;
				-webkit-filter: saturate(0%);
				transition: -webkit-filter .35s ease;
				cursor: pointer;
				&:hover {
					-webkit-filter: none;
				}
			}

		}
	}
}

$em: .75;
$color: #fff;
$close-color: #fff;

$bar: $em / 3;
$bar-scale: ($em * 1.41 - $bar) / $em;
$x-translate: $em * 0.22;
$y-translate: $em * 0.237;

.menu-icon {
  cursor: pointer;
  position: fixed;
	top: 22px;
	right: 22px;
  display: inline-block;
  height: $em * 1em;
  width: $em * 1em;
	transition: -webkit-filter .3s ease;
	z-index: 3;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: $em * 1em;
    height: $bar * 1em;
    left: 0;
    background-color: $color;
    transition-duration: 0.5s;
  }

  &:after {
    bottom: 0;
  }

  &.is-active {
		-webkit-filter: invert(1.0);

    &:before,
    &:after {
      background-color: $close-color;
    }

    &:before {
      transform: rotateZ(-135deg) scaleX($bar-scale) translate($x-translate * -1em, $y-translate * -1em);
    }

    &:after {
      transform: rotateZ(135deg) scaleX($bar-scale) translate($x-translate * -1em, $y-translate * 1em);
    }
		&:hover {
			-webkit-filter: invert(0.0);
		}
  }
}

.nav-menu {
	height: 37px;
	width: 40vw;
	background-color: #ccc;
	top: 10px;
	right: 10px;
	position: fixed;
	z-index: 2;
	ul {
		margin: 9px 0;
		a {
			div {
				margin-top: 3px;
				background-color: #fff;
				height: 2px;
				width: 0%;
				transition: width .3s ease;
				&.is-active {
					width: 100%;
				}
			}
			display: inline-block;
			transition: color .3s ease;
			margin: 0 20px;
			color: #000;
			text-decoration: none;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			height: 12px;
			&:hover {
				color: #fff;
			}
		}
	}
}

.packnew-background {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	display: block;
	z-index: -1000;
	background-color: #636363;
}

.ffield.pack {
	margin: 10px 0;
	display: block;
	margin-left: 5px;
}

.submit.pack {
	width: 298px;
	height: 37px;
	margin: 10px 0;
	margin-left: 5px;
	text-transform: uppercase;
	border: 1px solid #fff;
	background: #fff;
	color: #222;
}

.ffield.pack.description {
	font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	resize: vertical;
	max-height: 300px;
	min-height: 50px;
}

.form-container {
	padding: 25px 15px 15px 15px;
	margin: 0 auto;
	position: relative;
	width: 308px;
	background: #444;
	transition: background .3s ease;
	&:hover {
		background: #000;
	}
}

.form-container-outer {
	margin-top: 20vh;
}

.black-overlay.new {
	background-color: #000;
	position: absolute;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
	opacity: 0.0;
	transition: opacity .3s ease;
	&.is-active {
		opacity: 0.5;
	}
}

.form-title-new-pack {
	font-family: 'Helvetica Neue';
	text-transform: uppercase;
	margin: 18px 0 14px 5px;
	letter-spacing: .125em;
}
