<!DOCTYPE html>
<html>
<head>
  <script>
    window.bg = 'url(https://s3-us-west-1.amazonaws.com/afcojor/layout/' + Math.floor(Math.random() * 7) + '.jpg)';
  </script>
  <title>Minecraft Customizer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
